<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>播放頁面</title>

	<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
	<link th:href="@{/assets3/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assets3/css/dashboard.css}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>



	<!-- Bootstrap core CSS -->

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>


	<!-- Custom styles for this template -->

</head>

<body>

	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2  col-xl-2 me-0 px-3" href="#">HowHow學</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
			data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a class="nav-link px-3" href="#">Sign out</a>
			</div>
		</div>
	</header>


	<div class="container-fluid" id="playSectionList">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 col-xl-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<input th:value="${courseID}" id="playPageDeafultId" hidden>
					<ul class="nav flex-column" v-for="section in sectionList">
						<li class="nav-item">
							<button class="btn btn-toggle align-items-center rounded collapsed "
								data-bs-toggle="collapse" :data-bs-target="'#course-collapse'+section.sectionNumber"
								aria-expanded="true">
								<h4><span data-feather="layers"></span> {{section.sectionNumber}}.
									{{section.sectionName}}</h4>
							</button>
							<div class="collapse show" :id="'course-collapse'+section.sectionNumber">
								<ul class="nav flex-column btn-toggle-nav list-unstyled fw-normal pb-1 small"
									v-for="lecture in section.lecturesList">
									<li class="nav-item border rounded-pill">
										<a href="#" class="link-dark rounded " @click="handleVideoUrl(lecture)">
											<h5><span data-feather="fast-forward"></span>{{lecture.lectureNumber}}.
												{{lecture.lecturesName}}</h5>
										</a>

										<button>附加連結</button>
									</li>
								</ul>
							</div>
						</li>

					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="row">
					<div class="col-10">
						<video id="my-video" class="video-js vjs-fluid vjs-big-play-centered">
						</video>

						
					</div>
					<div class="col-2 d-flex align-items-end flex-column bd-highlight mb-3" id="notesVue">
						<div class="align-content-center">
							<h2 >Notes</h2>
						</div>
						
						
					
							<div class="chat-header clearfix p-2 bd-highlight">
							</div>
							
							<div class="chat-history p-2 bd-highlight" v-if="notesList !== ''">
								<ul class="m-b-0" >
									<li class="clearfix " v-for="notes in notesList">
										<div class="message-data text-right ">
											<a href="#javescr" class="message-data-time">{{notes,duration}}</a>
										</div>
										<div class="message other-message float-right">{{notes.notescontext}} </div>
									</li>
								
								</ul>
							</div>
							<div class="chat-history p-2 bd-highlight" v-else>
								<h5>請輸入筆記 開始紀錄每一刻</h5>
							</div>
							
							
							<div class="chat-message clearfix mt-auto p-2 bd-highlight ">
								<div class="input-group mb-0">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-send"></i></span>
									</div>
									<input type="text" class="form-control" placeholder="Enter Notes here..." v-model="notescontext">
								</div>
							</div>
						
					</div>
					<div class="row">
					<h2>Section title</h2>
						<div class="table-responsive">
							<table class="table table-striped table-sm">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Header</th>
										<th scope="col">Header</th>
										<th scope="col">Header</th>
										<th scope="col">Header</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1,001</td>
										<td>random</td>
										<td>data</td>
										<td>placeholder</td>
										<td>text</td>
									</tr>
									<tr>
										<td>1,002</td>
										<td>placeholder</td>
										<td>irrelevant</td>
										<td>visual</td>
										<td>layout</td>
									</tr>
									<tr>
										<td>1,003</td>
										<td>data</td>
										<td>rich</td>
										<td>dashboard</td>
										<td>tabular</td>
									</tr>
									<tr>
										<td>1,003</td>
										<td>information</td>
										<td>placeholder</td>
										<td>illustrative</td>
										<td>data</td>
									</tr>
									<tr>
										<td>1,004</td>
										<td>text</td>
										<td>random</td>
										<td>layout</td>
										<td>dashboard</td>
									</tr>
									<tr>
										<td>1,005</td>
										<td>dashboard</td>
										<td>irrelevant</td>
										<td>text</td>
										<td>placeholder</td>
									</tr>
									<tr>
										<td>1,006</td>
										<td>dashboard</td>
										<td>illustrative</td>
										<td>rich</td>
										<td>data</td>
									</tr>
									<tr>
										<td>1,007</td>
										<td>placeholder</td>
										<td>tabular</td>
										<td>information</td>
										<td>irrelevant</td>
									</tr>
									<tr>
										<td>1,008</td>
										<td>random</td>
										<td>data</td>
										<td>placeholder</td>
										<td>text</td>
									</tr>
									<tr>
										<td>1,009</td>
										<td>placeholder</td>
										<td>irrelevant</td>
										<td>visual</td>
										<td>layout</td>
									</tr>
									<tr>
										<td>1,010</td>
										<td>data</td>
										<td>rich</td>
										<td>dashboard</td>
										<td>tabular</td>
									</tr>
									<tr>
										<td>1,011</td>
										<td>information</td>
										<td>placeholder</td>
										<td>illustrative</td>
										<td>data</td>
									</tr>
									<tr>
										<td>1,012</td>
										<td>text</td>
										<td>placeholder</td>
										<td>layout</td>
										<td>dashboard</td>
									</tr>
									<tr>
										<td>1,013</td>
										<td>dashboard</td>
										<td>irrelevant</td>
										<td>text</td>
										<td>visual</td>
									</tr>
									<tr>
										<td>1,014</td>
										<td>dashboard</td>
										<td>illustrative</td>
										<td>rich</td>
										<td>data</td>
									</tr>
									<tr>
										<td>1,015</td>
										<td>random</td>
										<td>tabular</td>
										<td>information</td>
										<td>text</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
			</main>
		</div>
	</div>




	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
		integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
		integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
		crossorigin="anonymous"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
	<script th:src="@{/assets3/js/bootstrap.bundle.min.js}"></script>



	<script src="https://unpkg.com/vue@3"></script>
	<script th:src="@{/js/playPage.js}" type="module"></script>

</body>

</html>