<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<th:block th:fragment="content">
	<div class="py-5">
		<div class="container" id="editCourseLectures">
			<div class="row">
				<div class="col-md-12">
					<div class="card text-center">
						<div class="card-header">
							<label>章節</label>
							<select name="editSection" id="editSection" v-model="currentSectionIndex"
								@change="changeLectureList(currentSectionIndex)">

								<option v-for="(section,index) in sectionList" :key="index" :value=index>
									{{section.sectionNumber}}.{{section.sectionName}}</option>


							</select>
							<label>單元</label>
							<select name="editLecture" id="editLecture" v-model="currentLectureIndex"
								@change="selectLecture(currentLectureIndex)">


								<option v-for="(lecture,index) in lectureList" :value=index>
									{{lecture.lectureNumber}}.{{lecture.lecturesName}}</option>


							</select>
						</div>
						<div class="card-body">
							<div v-if="lecture !== ''">
								<div v-if="upLoadingText !== ''">
									<p class="card-text">{{upLoadingText}}</p>
								</div>
								<div v-else>
									<div v-if="lecture.videoSource !== null">
										<h5 class="card-title">{{lecture.lecturesName}} 影片</h5>
										<p class="card-text">已上傳完成
										</p>
									</div>
									<div v-else>
										<div v-if="upLoadingText !== ''">
											<p class="card-text">{{upLoadingText}}</p>

										</div>
										<div v-else>
											<p class="card-text">請上傳影片
											</p>
										</div>

									</div>
								</div>
							</div>
							<div v-else>
							 		<p class="card-text">請先選擇單元與章節</p>
							</div>




							<div>
								<input type="file" id="videofile" name="file" ref="videofile"
									@change="handleVideoUpload" />

								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop" @click="createForm">
									新增教學影片
								</button>

								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
									data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
									aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="staticBackdropLabel">影片上傳中</h5>

											</div>
											<div class="modal-body">
												影片上傳中 請等候上傳
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">關閉提示窗並等候</button>
												<button type="button" class="btn btn-primary">知道了</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>