<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">


<th:block th:fragment="content">
	<div id="editCourseAbsract">

		<div class="py-3">
			<div class="container">

				<div class="row">

					<input type="text" id="defaultCourseID" hidden th:value="${courseId}">


					<div class="col p-4">
						<h3 class="mb-3">編輯課程內容&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="button" class="lead mb-4" value="更新課程大綱" @click="createForm"></input></h3>

						<div class="form-row">
							<label class="col col-form-label">課程名稱</label>
							<div class="col">
								<input type="text" class="form-label" required minlength="2" maxlength="15"
									v-model="course.courseName" />
							</div>

							<label class="col col-form-label">分類</label>
							<div class="col">

								<select name="category" id="category" v-model="category.id" @change="changeCategory(category.id)">
									<th:block th:each="cat: ${cateList}">
										<option th:value="${cat.id}">[[${cat.name}]]</option>
									</th:block>

								</select>
							</div>

							<label class="col col-form-label">價錢</label>
							<div class="col">
								<input type="text" class="col-form-label" required minlength="2" maxlength="15"
									v-model="course.price" />
							</div>

							<label class="col col-form-label">時數</label>
							<div class="col">
								<input type="text" class="col-form-label" required minlength="2" maxlength="15" />
							</div>



						</div>

					</div>
					<div class="mb-3">
						<div class="col-md-12 p-2">
							<label for="textarea" class="col col-form-label">課程介紹</label>
							<div class="col">
								<textarea id="textarea" name="textarea" rows="4" cols="50" v-model="course.description">
									介紹一下將要開設的課程,與適合購買課程的對象
								</textarea>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>



		<div class="py-5 bg-light">
			<div class="container">

				<div class="mx-auto text-center ">
					<h1 class="mb-3">課程封面</h1>
					
				</div>


				<div class="p-0 ">

					<div>
						<img id="thumbnail" v-if="course.courseCover != null" :src="blobSetting+course.courseCover" alt="Main image preview"
							class="img-fluid" accept="image/png,image/jpeg" />
						<img id="thumbnail" v-else  alt="Main image preview"
							class="img-fluid" accept="image/png,image/jpeg" />
					</div>
					<div>
						<label class="text-success text-left">請選擇要更新的封面&nbsp;&nbsp;&nbsp;</label>
						<input type="file" id="fileImage" name="file" ref="file" @change="handleFileUpload"/>
							   

					</div>
					<input type="hidden" />
				</div>


			</div>
		</div>

	</div>

</th:block>


</html>