<!DOCTYPE HTML>

<html>

<head th:replace="course/student/acoordin :: pagehead">

</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img th:src="@{/images/avatar.jpg}" alt="" /></span>
				<h1 id="title">howhow</h1>
				<p>Beginer Engineer</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a th:href="@{/teacherPage/page}" id="top-link"><span class="icon solid fa-home">我的頁面</span></a>
					</li>
					<li><a th:href="@{/teacherPage/page#courseList}" id="portfolio-link"><span
								class="icon solid fa-th">課程</span></a></li>
					<li><a href="new" id="about-link"><span class="icon solid fa-user">創造新課程</span></a></li>
					<li><a href="#" id="contact-link"><span class="icon solid fa-envelope">聯絡我們</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">



		<!-- About Me -->
		<section id="about" class="three">
			<div class="container">



				<form th:action="@{/teacherPage/processedCreateCourse}" method="post"
					style="max-width: 700px; margin: 0 auto" enctype="multipart/form-data" th:object="${courseBasic}"
					onsubmit="return checkEmailUnique(this);">

					<div class="py-3">
						<div class="container">
							<div class="row">
								<div class="d-flex justify-content-center">
									<h1 class="text-dark">創造一門新課程</h1>
									<p>並上傳封面照</p>
								</div>
							</div>
							<div class="row" id="text">

								<input type="text" id="defaultCourseID" hidden th:value="*{courseId}">

								<h3 class="mb-3">課程內容</h3>
								<div class="col-md-6 p-4">


									<div class="form-row">
										<label class="col-sm-4 col-form-label">課程名稱</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" th:field="*{courseName}" required
												minlength="2" maxlength="15" />
										</div>

										<label for="category"class="col-sm-4 col-form-label">分類</label>
										<div class="col-sm-8" >
											<select name="category" id="category" th:field="*{category}" >
												<th:block th:each="cat: ${cateList}">
												<option th:value="${cat.id}">[[${cat.name}]]</option>
												</th:block>
												
											</select>
											
										</div>

										<label class="col-sm-4 col-form-label">價錢</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" th:field="*{price}" required
												minlength="2" maxlength="15" />
										</div>

										<label class="col-sm-4 col-form-label">時數</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" required minlength="2"
												maxlength="15" />
										</div>



									</div>

								</div>

								<div class="col-md-6 p-4">
									<label for="textarea" class="container-fluid">課程介紹</label>
									<div class="container-fluid">
										<textarea id="textarea" name="textarea" rows="4" cols="50"
											th:field="*{description}">
											介紹一下將要開設的課程,與適合購買課程的對象
										</textarea>
									</div>
								</div>

							</div>
						</div>
					</div>



					<div class="py-5 bg-light">
						<div class="container">
							<div class="row">
								<div class="mx-auto text-center ">
									<h1 class="mb-3">課程封面</h1>
									<p class="lead mb-4">請上傳封面</p>
								</div>
							</div>
							<div class="row">
								<div class="p-0 order-2 order-md-1">
									<div><label class="text-success"></label></div>
									<div>
										<img id="thumbnail" alt="Main image preview" class="img-fluid"
											accept="image/png,image/jpeg" />
									</div>
									<div>
										<input type="file" id="fileImage" name="poster"  />
										<input type="submit" value="創建課程">
									</div>
									<input type="hidden" />
								</div>

							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>


</body>

</html>