<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./assets_wj/js/main.js"></script>
    <style>
        .blt-inner-container {
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                HowHowDo
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <nav aria-label="breadcrumb pl-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <h1>標題</h1>
        <div class="my-2">
            <small>
                <span class="mr-3">AAA</span>
                <span class="mr-3">BBB</span>
                <span class="mr-3">CCC</span>
            </small>
        </div>
        <div class="row">

            <div class="col-md-8">

                <article>
                    Lorem ipsum dolor sit amet, per veritus dissentiunt ea, id eum soluta deleniti. Usu labore delenit
                    ullamcorper ex, cu pri consul integre voluptatum, simul cetero moderatius cum et. Vim cu eius
                    phaedrum,
                    duo dolore atomorum theophrastus no. No mei dicat honestatis, mea aperiam vocibus assueverit ei,
                    fastidii delectus est no.

                    Ocurreret vulputate elaboraret cu duo, cibo soluta oporteat est ea. Duo ad duis clita, sea omittam
                    lucilius explicari an. Mea percipit accommodare ad, pri munere nominavi id, tollit platonem
                    principes ad
                    vix. In pro aliquid utroque appellantur, unum dolore fabulas eam ea, vocent concludaturque ut ius.
                    Ut
                    dicit copiosae invidunt qui. Pertinax democritum reformidans ea pro, quo facilis honestatis eu.
                </article>
                <hr />
                <div class="card border border-0">
                    <div class="card-header border border-0 d-flex a justify-content-between">
                        <div>留言回覆</div>

                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <h5 class="dropdown-header">Dropdown header 1</h5>
                                </li>
                                <li><a class="dropdown-item" href="#">Link 1</a></li>
                                <li><a class="dropdown-item" href="#">Link 2</a></li>
                                <li><a class="dropdown-item" href="#">Link 3</a></li>
                                <li>
                                    <h5 class="dropdown-header">Dropdown header 2</h5>
                                </li>
                                <li><a class="dropdown-item" href="#">Another link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="mb-1">
                            <div class="d-flex">
                                <div class="flex-shrink-0 m-0">
                                    <h1 class="mt-0 pt-0"><i class="fa fa-user-circle" aria-hidden="true"></i>
                                        <h1>
                                </div>
                                <div class="flex-grow-1 ms-1 mt-1 d-block">
                                    <div>
                                        <div>
                                            <input id="blt-qst-title" class="rounded form-control mb-1" type="text"
                                                placeholder="請留下您的問題標題...">
                                        </div>
                                        <div id="blt-qst-toggle" style="display: none;">
                                            <div id="d1c1">
                                                <textarea class="rounded form-control mb-1" rows="5" rows="3" id="c1"
                                                    placeholder="請留下您的問題內容..."></textarea>
                                            </div>
                                            <div class="d-flex justify-content-end" id="d1b1">
                                                <button class="btn btn-dark btn-primary me-1" id="blt-qst-toggle-cancel"
                                                    type="button">取消</button>
                                                <button class="btn btn-dark btn-primary" id="blt-qst-submit"
                                                    type="button">送出</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="show-all-bulletin">...</div>

                        <div id="show-all-bluuetin2">
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <h1><i class="fa fa-user-circle" aria-hidden="true"></i>
                                        <h1>
                                </div>
                                <div class="flex-grow-1 ms-2 d-block">
                                    <span>Lorem ipsum dolor sit amet, per veritus dissentiunt ea, id eum
                                        soluta deleniti. Usu</span>
                                    <div class="d-flex justify-content-start align-items-center mb-1">
                                        <div class="me-3"><small><span>王韋傑</span></small></div>
                                        <div class="me-3"><small><span>2022.03.12</span></small></div>
                                        <div class="me-3 blt-inner-flip">
                                            <small><span><i class="fa fa-comment" aria-hidden="true"></i></span></small>
                                        </div>
                                    </div>
                                    <div class="blt-inner-container">
                                        <div class="blt-inner-content">
                                            <div class="my-3 blt-title">
                                                <p>ullamcorper ex, cu pri consul integre voluptatum, simul cetero
                                                    moderatius cum et. Vim cueius</p>
                                            </div>
                                            <div class="blt-reply-content d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <h3><i class="fa fa-user-circle" aria-hidden="true"></i>
                                                        <h3>
                                                </div>
                                                <div class="container px-0 ms-2 mt-1">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div class="me-2"><small><span>授課老師</span></small></div>
                                                        <div class="me-2"><small><span>王韋傑</span></small></div>
                                                        <div class="me-2"><small><span>2022.03.12</span></small></div>
                                                    </div>
                                                    <div class="flex-grow-1 m-0">
                                                        ullamcorper ex, cu pri consul integre
                                                        voluptatum, simul cetero
                                                        moderatius cum et.
                                                        Vim cu eius
                                                        phaedrum,
                                                        duo dolore atomorum theophrastus no. No mei dicat honestatis,
                                                        mea aperiam vocibus
                                                        assueverit ei,
                                                        fastidii delectus est no.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="blt-reply-content d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <h3><i class="fa fa-user-circle" aria-hidden="true"></i>
                                                        <h3>
                                                </div>
                                                <div class="container px-0 ms-2 mt-1">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div class="me-2"><small><span>授課老師</span></small></div>
                                                        <div class="me-2"><small><span>王韋傑</span></small></div>
                                                    </div>
                                                    <div class="flex-grow-1 m-0 d-grid ">
                                                        <textarea class="reply-input" type="text" style="height:30px;"
                                                            placeholder="請留言..."></textarea>
                                                    </div>
                                                    <div class="mt-1 d-flex justify-content-end ">
                                                        <div class="reply-input-toggle" style="display: none;">
                                                            <button
                                                                class="btn btn-dark btn-primary me-1 reply-input-toggle-cancel"
                                                                type="button">取消</button>
                                                            <button class="btn btn-dark btn-primary "
                                                                id="reply-input-submit" type="button">送出</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <h1><i class="fa fa-user-circle" aria-hidden="true"></i>
                                        <h1>
                                </div>
                                <div class="flex-grow-1 ms-2 d-block">
                                    <span>Lorem ipsum dolor sit amet, per veritus dissentiunt ea, id eum
                                        soluta deleniti. Usu</span>
                                    <div class="d-flex justify-content-start align-items-center mb-1">
                                        <div class="me-3"><small><span>王韋傑</span></small></div>
                                        <div class="me-3"><small><span>2022.03.12</span></small></div>
                                        <div class="me-3 blt-inner-flip">
                                            <small><span><i class="fa fa-comment" aria-hidden="true"></i></span></small>
                                        </div>
                                    </div>
                                    <div class="blt-inner-container">
                                        <div class="blt-inner-content">
                                            <div class="blt-content">
                                                Lorem ipsum dolor sit amet, per veritus dissentiunt ea, id eum
                                                soluta deleniti. Usu labore delenit ullamcorper ex, cu pri consul
                                                integre voluptatum, simul cetero
                                                moderatius cum et. Vim cu eius
                                            </div>
                                            <div class="blt-reply-content d-flex mt-3">
                                                <div class="flex-shrink-0">
                                                    <h3><i class="fa fa-user-circle" aria-hidden="true"></i>
                                                        <h3>
                                                </div>
                                                <div class="container px-0 ms-2 mt-1">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div class="me-2">授課老師</div>
                                                        <div class="me-2">王韋傑</div>
                                                        <div class="me-2">2022.03.12</div>
                                                    </div>
                                                    <div class="flex-grow-1 m-0">
                                                        ullamcorper ex, cu pri consul integre
                                                        voluptatum, simul cetero
                                                        moderatius cum et.
                                                        Vim cu eius
                                                        phaedrum,
                                                        duo dolore atomorum theophrastus no. No mei dicat honestatis,
                                                        mea aperiam vocibus
                                                        assueverit ei,
                                                        fastidii delectus est no.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blt-reply-content d-flex mt-3">
                                                <div class="flex-shrink-0">
                                                    <h3><i class="fa fa-user-circle" aria-hidden="true"></i>
                                                        <h3>
                                                </div>
                                                <div class="container px-0 ms-2 mt-1">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div class="me-2">授課老師</div>
                                                        <div class="me-2">王韋傑</div>
                                                        <div class="me-2">2022.03.12</div>
                                                    </div>
                                                    <div class="flex-grow-1 m-0">
                                                        ullamcorper ex, cu pri consul integre
                                                        voluptatum, simul cetero
                                                        moderatius cum et.
                                                        Vim cu eius
                                                        phaedrum,
                                                        duo dolore atomorum theophrastus no. No mei dicat honestatis,
                                                        mea aperiam vocibus
                                                        assueverit ei,
                                                        fastidii delectus est no.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blt-reply-content d-flex mt-3">
                                                <div class="flex-shrink-0">
                                                    <h3><i class="fa fa-user-circle" aria-hidden="true"></i>
                                                        <h3>
                                                </div>
                                                <div class="container px-0 ms-2 mt-1">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div class="me-2">授課老師</div>
                                                        <div class="me-2">王韋傑</div>
                                                    </div>
                                                    <div class="flex-grow-1 m-0 d-grid ">
                                                        <textarea class="reply-input" type="text" style="height:30px;"
                                                            placeholder="請留言..."></textarea>
                                                    </div>
                                                    <div class="mt-1 d-flex justify-content-end ">
                                                        <div class="reply-input-toggle" style="display: none;">
                                                            <button
                                                                class="btn btn-dark btn-primary me-1 reply-input-toggle-cancel"
                                                                type="button">取消</button>
                                                            <button class="btn btn-dark btn-primary "
                                                                id="reply-input-submit" type="button">送出</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary position-relative">
                    Profile
                    <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </button>
            </div>

        </div>
    </div>


    <footer class="bg-light py-4 mt-3">
        <div class=" container d-flex justify-content-between">
            <div>footer.</div>
            <div class="d-flex justify-content-between">
                <div class="mx-1">icon1</div>
                <div class="mx-1">icon2</div>
                <div class="mx-1">icon3</div>
            </div>

        </div>

    </footer>
</body>

</html>