<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
   
</head>

<body>
    <footer class="bg-light py-4 mt-3">
        <div class=" container d-flex justify-content-between">
            <div>footer.</div>
            <div class="d-flex justify-content-between">
                <div class="mx-1">icon1</div>
                <div class="mx-1">icon2</div>
                <div class="mx-1">icon3</div>
            </div>
        </div>
    </footer>
</body>

</html>