<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=""UTF-8">
	<meta name="viewpor" content="width=device-width,initial-scale=1.0, minimum0scale=1.0">
	<link rel="icon" type="image/x-icon" th:href="@{/images/sheep.ico}" />
	<link rel="stylesheet" th:href="@{/css/howhow.css}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/howhow.css"/>
	
	<title>MainPage</title>
</head>

<body>	

	 <div class="d-flex align-items-center justify-content-center vh-100">
	  <div class="mb-3 form-control-sm">
		<div  class="form-label">
		<h1 >HOMEWORK </h1>
		<br><br><br>
		</div>
		
		<div  class="form-text">
		<h2 >Hello, [[${account.userAccountDt.givenName}]] </h2>
		</div>
		
		<div  class="form-control">
			<a th:href="@{/editAccount}">修改個人資料</a>
		</div>
		
		<div   sec:authorize="hasAuthority('Admin')"  class="form-control">		
			<a th:href="@{/progessDeleteAccount}">刪除帳號 [[${account.userstatus.accountLevel}]]</a>
		</div>
		<div  sec:authorize="hasAuthority('Teacher') or hasAuthority('Student')" class="form-control">		
			<a disabled class="form-text">刪除帳號</a>
			<h5>權限不足 請儲值信仰 註冊身分為[[${account.userstatus.accountLevel}]]</h5>
		</div>
		<div  class="form-text">
			<br><br>
			<h5>
				<form th:action="@{/logout}" id="logOutForm"  >
				<input type="Button"id="logOutLink"  value="Logout" ></a>
				</form>
			</h5>
		</div>
	  </div>
	 </div>
	
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<script >
	$( "#logOutLink" ).click(function() {
		  $( "#logOutForm" ).submit();
		});
	
	</script>
	
	

</body>
</html>