<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/assets_wj/css/universal-navbar.css}">
    </link>
    <style>
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="howhowdo-navbar">
        <div class="container-fluid px-3">
            <a class="navbar-brand" href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                <small><span>HowHowDo</span></small>
            </a>
            <div class="nav-item dropdown me-2 py-2">
                <div class="dropdown-toggle" href="#" id="category" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <small><span>類別</span></small>
                </div>
                <ul class="dropdown-menu" aria-labelledby="category">
                    <li class="dropdown-submenu dropdown-item" v-for="cate in categories">
                        <a class="d-flex justify-content-between" tabindex="-1" :href=cate.cUrl>
                            <small><span>{{ cate.cItemName }}</span></small>
                            <i class="fa fa-chevron-right"></i></a>
                        <ul class="dropdown-menu">
                            <li v-for="subCate in cate.subCategories"><a :href=subCate.scUrl>
                                    <small><span>{{ subCate.scItemName }}</span></small></a>
                            </li>
                            <!-- <li><a href="#"><small><span>資料科學</span></small></a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="input-group border rounded-pill p-1">
                    <div class="input-group-prepend border-0">
                        <button id="button-addon4" type="button" class="btn btn-link text-info"><i
                                class="fa fa-search"></i></button>
                    </div>
                    <input type="search" placeholder="搜尋任何事物..." aria-describedby="button-addon4" @keyup.enter="goToLogin()"
	                    class="form-control bg-light border-0 me-2">
            </div>

            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <div class="navbar-nav">
                    <div class="nav-item dropdown mx-2 py-2 ">
                        <div class="dropdown-toggle" href="#" id="teacher" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <small><span>講師</span></small>
                        </div>
                        <!-- <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="teacher">
                            <li><a class="dropdown-item" href="#">item1</a></li>
                            <li><a class="dropdown-item" href="#">item2</a></li>
                        </ul> -->
                    </div>

                    <div class="nav-item dropdown mx-2 py-2">
                        <div class="dropdown-toggle" href="#" id="my-course" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <small><span>我的課程</span></small>
                        </div>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-info" aria-labelledby="my-course"
                            style="width: 400px; height: 400px;">

                            <div><span>繼續上課</span></div>

                            <div class="d-flex px-3 my-3" style="height: 60px;">
                                <div class="flex-shrink-0 m-0 p-0">
                                    <div style="background-color: rgb(21, 65, 168); height: 60px; width: 100px;">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 d-block">
                                    <div style="height: 36px;">
                                        <small><span>{{ recentCourseTitle }}</span></small>
                                    </div>
                                    <div class="d-flex justify-content-between mt-1" style="height: 20px;">
                                        <div>
                                            <small><span>{{ recentCourseProgress }}</span></small>
                                        </div>
                                        <div>
                                            <small><span>{{ recentCourseInfo }}</span></small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div><span>最近學習</span></hr>
                            </div>

                            <div>
                                <div class="d-flex px-3 my-3" style="height: 60px;" v-for="course in courseInfos">
                                    <div class="flex-shrink-0 m-0 p-0">
                                        <div style="background-color: rgb(21, 65, 168); height: 60px; width: 100px;">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-block">
                                        <div style="height: 36px;">
                                            <small><span>{{ course.ctitle }}</span></small>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1" style="height: 20px;">
                                            <div>
                                                <small><span>上課進度{{ course.cStatus }}%</span></small>
                                            </div>
                                            <div>
                                                <small><span>{{ course.cPrice }}</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid px-3 align-items-end">
                                <button class="btn btn-primary" type="button"><a class="nav-btn-link"
                                        href="#">前往我的課程</a></button>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item dropdown mx-2 py-2">
                        <div class="dropdown-toggle" href="#" id="shopping-cart" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                        </div>

                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-info" aria-labelledby="shopping-cart"
                            style="width: 400px; height: 400px;">
                            <div>
                                <div class="d-flex px-3 my-3" style="height: 60px;" v-for="shopping in shoppingInfos">
                                    <div class="flex-shrink-0 m-0 p-0">
                                        <div style="background-color: rgb(21, 65, 168); height: 60px; width: 100px;">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-block">
                                        <div style="height: 36px;">
                                            <small><span>{{ shopping.ctitle }}</span></small>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1" style="height: 20px;">
                                            <div>
                                                <small><span>{{ shopping.cStatus }}</span></small>
                                            </div>
                                            <div>
                                                <small><span>${{ shopping.cPrice }}</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid px-3 align-items-end">
                                <div class="d-flex ">
                                    <div class="me-2">總計:</div>
                                    <span class="me-4">$430</span>
                                    <div style="font-style: italic;text-decoration:line-through;">
                                        <span>$2100</span>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="button"><a class="nav-btn-link"
                                        href="#">前往購物車</a></button>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item dropdown mx-2 py-2">
                        <div class="dropdown-toggle" href="#" id="reminder-bell" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-info" aria-labelledby="reminder-bell"
                            style="width: 400px; height: 400px;">
                            <div class="d-flex p-3 m-0" v-for="rmd in reminderInfos">
                                <div class="flex-shrink-0 m-0">
                                    <h1 class="mt-0 pt-0"><i class="fa fa-envelope-open" aria-hidden="true"></i>
                                    </h1>
                                </div>
                                <div class="flex-grow-1 ms-3 d-block">
                                    <div>
                                        <p>{{ rmd.content }}</p>
                                        <p>{{ rmd.dateTime}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item dropdown mx-2 py-2 ">
                        <div class="dropdown-toggle" href="#" id="profile" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                        </div>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                            <li><a class="dropdown-item" href="#">
                                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                帳號設定</a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="fa fa-address-card fa-lg" aria-hidden="true"></i>
                                個人檔案</a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                我的收藏</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">
                                <i class="fa file-o fa-lg" aria-hidden="true"></i>
                                訂單記錄</a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                我的折扣</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/howhow/logout">
                                <i class="fa fa-circle-o-notch fa-lg" aria-hidden="true"></i>
                                登出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    </nav>



    <section class=" py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h6>學無止境與你一起</h6>
                    <div><img src="https://picsum.photos/id/237/800/400" class="d-block w-100" alt="..."></div>
                    <p>學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起</p>
                </div>
                <div class="col-md-4">
                    <h6>在 Hahow 線上學習</h6>
                    <div><img src="https://picsum.photos/id/237/800/400" class="d-block w-100" alt="..."></div>
                    <p>學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起</p>
                </div>
                <div class="col-md-4">
                    <h6>內容多元精彩又有趣</h6>
                    <div><img src="https://picsum.photos/id/237/800/400" class="d-block w-100" alt="..."></div>
                    <p>學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起學無止境與你一起</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1>每日精選課程</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://picsum.photos/id/237/800/400" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/id/238/800/400" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/id/239/800/400" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center text-break my-3">this is a titile.this is a titile.this is a titile.this is a
                titile.this is a titile.this is a titile.</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="me-3"><i class="fa fa-book fa-4x" aria-hidden="true"></i></div>
                        <div class="text-break">
                            <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                            <p class="text-break">
                                contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="me-3"><i class="fa fa-book fa-4x" aria-hidden="true"></i></div>
                        <div class="text-break">
                            <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                            <p class="text-break">
                                contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="me-3"><i class="fa fa-book fa-4x" aria-hidden="true"></i></div>
                        <div class="text-break">
                            <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                            <p class="text-break">
                                contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="me-3"><i class="fa fa-book fa-4x" aria-hidden="true"></i></div>
                        <div class="text-break">
                            <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                            <p class="text-break">
                                contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid py-5 by-light" style="position: relative">
        <div class="row">
            <div class="col-md-5 bg-cover" style="
                position: absolute; top: 0; bottom: 0;
                background-image: url(https://picsum.photos/id/237/800/400)">

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-7">
                    <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                    <p class="text-break">
                        contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                    </p>
                    <a href="#">看更多</a>
                    <div class="row text-break">
                        <div class="col-md-6 text-break">
                            <h3 class="text-break">TitleTitleTitleTitleTitleTitleTitle</h3>
                            <p class="text-break">
                                contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                            </p>

                        </div>
                        <div class="col-md-6">
                            <h3 class="text-break">TitleTitleTitleTitleTitleTitleTitle</h3>
                            <p class="text-break">
                                contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="container-fluid py-5 by-dark" style="position: relative">
        <div class="row">
            <div class="col-md-6 p-4 bg-cover text-white" style="
                background-image: url(https://picsum.photos/id/237/800/400)">
                <div class="row">
                    <div class="col-md-9">
                        <small>a samll tag</small>
                        <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                        <p class="text-break">
                            contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-4 bg-cover text-white" style="
                background-image: url(https://picsum.photos/id/237/800/400)">
                <div class="row">
                    <div class="col-md-9">
                        <small>a samll tag</small>
                        <h3>TitleTitleTitleTitleTitleTitleTitle</h3>
                        <p class="text-break">
                            contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script type="importmap">
	{
	  "imports": {
		"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
        "vue-router": "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.0.0-alpha.12/vue-router.esm.js"
	  }
	}
    </script>
    <script type="module" th:src="@{/assets_wj/js/universal-navbar.js}"></script>
    <!-- "html-loader": https://cdn.jsdelivr.net/npm/html-loader@3.1.0/dist/cjs.min.js -->
    <!-- "vue-router": "https://unpkg.com/vue-router@4" -->
    <footer class="bg-light py-4 mt-3">
        <div class=" container d-flex justify-content-between">
            <div>footer.</div>
            <div class="d-flex justify-content-between">
                <div class="mx-1">icon1</div>
                <div class="mx-1">icon2</div>
                <div class="mx-1">icon3</div>
            </div>
        </div>
    </footer>
</body>

</html>