.question-enter-active {
    transition: all 0.3s ease-out;
  }
.question-leave-active {
    transition: all 0.2s linear;
}
.question-enter-from, .question-leave-to {
    opacity: 0;
}


.replyInput-enter-active {
  transition: all 0.3s ease-out;
}
.replyInput-leave-active {
    transition: all 0.2s linear;
}
.replyInput-enter-from, .replyInput-leave-to {
    opacity: 0;
}


.reply-enter-active {
    /* transition: all 1s linear;  */
  transition: all 0.3s ease-out;
}
.reply-leave-active {
    transition: all 0.2s linear;
    /* transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1); */
}
.reply-enter-from, .reply-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.form-control:focus {
    box-shadow: none;  
}
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}
/* body {
    background: #ffd89b;
    background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
    background: linear-gradient(to right, #ffd89b, #19547b);
    min-height: 100vh;
} */
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

