@charset "UTF-8";
*{
/*border: solid 1px;*/
  font-family: 'Barlow Condensed','Microsoft JhengHei Light','微軟正黑體', sans-serif;
}
body{
margin:0;
  padding:0;
/* UI Properties */
background: #f3f7f7 0% 0% no-repeat padding-box;
opacity: 1;

}
.loginwordbox{
	width: 1200px;
	margin:0 auto;
	height:200px;
	 text-align:center;
	 letter-spacing: 0px;
}


.accword{
  /* Layout Properties */

/* UI Properties */

font:  Kohinoor Telugu;
  font-size:30px;
text-align:center;
color: #FFFFFF;
opacity: 1;
}
.singup{
/* Layout Properties */

width: 1200px;
height:500px;
/* UI Properties */
text-align: center;
font: normal normal 300 30px/42px Yuanti TC;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin:0px auto;

}
.logintitle{
  /* Layout Properties */
top: 285px;
left: 791px;
width: 120px;
height: 84px;
/* UI Properties */
text-align: left;
font: normal normal normal 50px Kohinoor Telugu;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  font-family: 微軟正黑體;
}
.bt1{
	  /* Layout Properties */
width: 100px;
height: 40px;
/* position: absolute; */
/* top: 60%; */
/* left: 96%; */
/* transform: translate(-50%,-96%); */
/* UI Properties */
background: #FFFFFF ;
border-radius: 51px;
opacity: 1;
font-family: 微軟正黑體;
border:none;
}
.bt2{
	  /* Layout Properties */
width: 100px;
height: 40px;
/* position: absolute; */
/* top: 58%; */
/* left: 90%; */
/* transform: translate(-50%,-90%); */
/* UI Properties */
background: #FFFFFf;
border-radius: 51px;
opacity: 1;
font-family: 微軟正黑體;
border:none;
}

.header{
  height:130px;
 background-color:#E2C652;
position: relative; 
}
.icon{
	padding:10px;
  width:250px;
}

<<<<<<< HEAD
=======
.navbar-search{ 
  /* position: relative; */
  width: 700px;
  height: 100px;
}
.navbar-search-input {
  /* position: absolute; */
  width: 500px;
  height: 40px;
}
.nav-item span {
  font-size: 19.5px;
  color: #5f5f5f;
  letter-spacing: 1px;
}

#theSecSearch input, #theSecSearch button {
  border-radius:10px;
}
>>>>>>> 2.1-Riko
