<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<th:block th:fragment="content">

	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="card-318641">
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" data-toggle="collapse" data-parent="#card-318641"
									href="#card-element-805982">Collapsible Group Item #1</a>
							</div>
							<div id="card-element-805982" class="collapse">
								<div class="card-body">
									Anim pariatur cliche...
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" data-toggle="collapse" data-parent="#card-318641"
									href="#card-element-648359">章節名稱</a>
							</div>
							<div id="card-element-648359" class="collapse">
								<div class="card-body border">
									單元內容
								</div>
								<div class="card-body border ">
									<div class="input-group"> <input type="text" class="form-control"
											 placeholder="章節編號" id="form2"><input type="text"
											class="form-control" placeholder="章節名稱" id="form2">
										<div class="input-group-append"> <button class="btn btn-primary"
												type="button">新增單元<br></button> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="ml-auto col-lg-7 text-center text-lg-left">
					<h1></h1>
					<p class="mb-0"></p>
				</div>
				<div class="col-lg-4 d-flex justify-content-center align-items-center p-3">
					<form class="form-inline mb-0">
						<div class="input-group"> <input type="text" class="form-control" 
								placeholder="章節編號" id="form2"><input type="text" class="form-control" placeholder="章節名稱"
								id="form2">
							<div class="input-group-append"> <button class="btn btn-primary"
									type="button">新增章節<br></button> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>