<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>NavigationBar</title>
</head>

<body>
	<nav th:fragment="universal-navbar"
		class="navbar navbar-expand-lg navbar-light bg-light p-0 m-0"
		style="height: 130px; background-color: #E2C652;" id="howhowdo-navbar">
		<div class="container-fluid px-3 header">
			<a class="navbar-brand" href="/"> <img class="icon"
				th:src="@{/image/unnamed.png}" alt="" />
			</a>
			<div>
				<h2>付款失敗test5</h2>
			</div>

		</div>
	</nav>

	<div style="position: absolute; left: 105%">
		<button id="button-addon4" type="button" class="border-0 rounded-pill"
			style="height: 40px; background-color: #f3f7f7;">
			<i class="fa fa-search fa-2x"></i>
		</button>
		<div
			style="position: absolute; left: 380%; top: -850%; height: 700px; width: 1000px;">
			<img class="icon" th:src="@{/images/checkoutscceed.jpg.png}" alt=""
				style="position: absolute; height: 950px; width: 1200px; right: 0%;" />
		</div>
	</div>

	<div>
		<meta http-equiv="refresh" content="20">
		<body onload="reciprocal()">
			<span id="showtime"></span> 秒後回到購物車… 或 立即跳轉 <button type="button" class="btn btn-info" onclick="location.href='http://localhost/myshop'"></button>
	</div>

	<script type="module" th:src="@{/js/checkoutsucceed.js}"></script>
	<script type="module" th:src="@{/js/universal-navbar.js}">
	</script>
	<script>
		let returnSeconds = 5;
		function reciprocal() {
			document.getElementById("showtime").innerHTML = returnSeconds;
			setTimeout(reciprocal, 1000);
			returnSeconds -= 1;

			if (returnSeconds == -1) {
				location.href = 'http://localhost/myshop';
			}
		}
	</script>
	<!--
	<script>
		async
		function getIpClient() {
			try {
				const response = await
				axios.get('https://ipinfo.io/json');
				console.log(response);
			} catch (error) {
				console.error(error);
			}
		}

		getIpClient();
	</script>
	-->

</body>

</html>