<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
<title>howhow學</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>




<link rel="stylesheet" th:href="@{/shopping/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{/shopping/css/elegant-fonts.css}">

<link rel="stylesheet" th:href="@{/shopping/css/themify-icons.css}">

<link rel="stylesheet" th:href="@{/shopping/css/swiper.min.css}">

<link rel="stylesheet" th:href="@{/shopping/style.css}">

<link rel="stylesheet" th:href="@{/assets_wj/css/universal-navbar.css}"></link>

<link rel="stylesheet" th:href="@{/css/index.css}"></link>

<link rel="stylesheet" th:href="@{/css/universal-navbar.css}"></link>

<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}">

</head>
<body class="single-courses-page">
	<div th:insert="universal-navbar :: universal-navbar"></div>
	<div id="mycourse">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-10">
					<div class="single-course-wrap">
						<div class="container">
							<div class="instructors-info">
								<header>
									<h2 class="entry-title">我的學習</h2>
								</header>
								<!-- .entry-heading -->

								<div class="instructor-short-info flex-wrap">
									<div class="self-course-page">
										<table class="table">
											<thead>
												<tr>
													<th scope="col" width="55%">課程名稱</th>
													<th scope="col" width="15%">課程類別</th>
													<th scope="col" width="30%"></th>
												</tr>
										</table>

										<div v-for="course in purchasedcourses">
											<table class="table">
												<thead>
													<tr>
														<td width="55%">{{course.coursename}}</td>
														<td width="15%">{{course.categoryname}}</td>
														<td width="15%"><button
																class="btn btn-outline-warning" style="color: #AE8F00"
																@click="goLearning(course.courseid)">前往上課</button></td>

														<td width="15%">
															<!-- Button trigger modal -->
															<button type="button" class="btn btn-outline-dark"
																data-bs-toggle="modal" data-bs-target="#exampleModal"
																data-bs-whatever="@mdo"
																@click="findCourseidForRank(course.courseid)"
																v-if="!rankstatus.includes(course.courseid)">我要評價</button>

															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal" v-else
																@click="deleteCourseRank(course.courseid)">刪除評價</button>


															<div class="modal fade" id="exampleModal" tabindex="-1"
																aria-labelledby="exampleModalLabel" aria-hidden="true">

																<div class="modal-dialog modal-dialog-centered">
																	<div class="modal-content" style="background-color:#FFFFDF">

																		<div class="modal-header">
																			<h5 class="modal-title" id="exampleModalLabel">課程評價</h5>
																			<button type="button" class="btn-close"
																				data-bs-dismiss="modal" aria-label="Close"></button>
																		</div>

																		<div class="modal-body">
																			<form>
																				<div class="mb-3">
																					<label for="recipient-name" class="col-form-label">課程評分</label>
																					<input type='number' class="form-control" id="rank"
																						oninput="if(value>5)value=5;if(value<1)value=1"
																						onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"
																						placeholder="最低為1分，最高為5分" />
																				</div>
																				<div class="mb-3">
																					<label for="message-text" class="col-form-label">課程評價</label>
																					<textarea class="form-control" id="message"></textarea>
																				</div>
																			</form>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-warning"
																				@click="insertcourserank()" data-bs-dismiss="modal">新增評價</button>
																			<button type="button" class="btn btn-secondary"
																				data-bs-dismiss="modal">取消</button>

																		</div>
																	</div>
																</div>
															</div>

														</td>
													</tr>
												</thead>
											</table>
										</div>
									</div>
									<!-- .instructors-details -->

								</div>
								<!-- .instructor-short-info -->
							</div>
							<!-- .instructors-info -->
						</div>
					</div>
				</div>

			</div>
			<!-- .row -->
		</div>
		<!-- .container -->

		<div class="clients-logo">
			<div class="container">

				<input id="userid" name="userid" hidden th:value="${userid}" />
				<!-- .row -->
			</div>
			<!-- .container -->
		</div>
		<!-- .clients-logo -->

	</div>

	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

	<script type="importmap">

	{
  "imports": {
	"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
	"vue-router": "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.0.0-alpha.12/vue-router.esm.js"
  }
}
</script>


	<script type="module" th:src="@{/js/mycourse.js}"></script>
	<script type="module" th:src="@{/js/universal-navbar.js}"></script>



	</div>
</body>

</html>