<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
<title>howhow學</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/shopping/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{/shopping/css/elegant-fonts.css}">

<link rel="stylesheet" th:href="@{/shopping/css/themify-icons.css}">

<link rel="stylesheet" th:href="@{/shopping/css/swiper.min.css}">

<link rel="stylesheet" th:href="@{/shopping/style.css}">

<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />


<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}">

<link th:href="@{http://fonts.googleapis.com/css?family=Roboto}" rel='stylesheet' type='text/css' />

</head>

<body>

	<div class="header">
		<img class="icon" th:src="@{/image/unnamed.png}" alt="" /> <a
			style="color: #E2C652" th:href="@{/login}"> <input type="button"
			class="bt2" value="登入"></input>
		</a> <a th:href="@{/register}"> <input type="button" class="bt1"
			value="註冊"></input>
		</a>
	</div>

	<div id="product">
		<div class="container" style="border: solid 1px">
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="col-12 col-lg-8 offset-lg-3">
						<video id="my-video"
							class="video-js vjs-fluid vjs-big-play-centered"></video>
					</div>

				</div>
				<div class="col-12 col-lg-4" style="border: solid 1px">
					<ul class="nav flex-column" v-for="section in course.sectionList">
						<li class="nav-item">
							<button
								class="btn btn-toggle align-items-center rounded collapsed "
								data-bs-toggle="collapse"
								:data-bs-target="'#course-collapse'+section.sectionNumber"
								aria-expanded="true">
								<h6>
									<span data-feather="layers"></span> {{section.sectionNumber}}.
									{{section.sectionName}}
								</h6>
							</button>
							<div class="collapse show"
								:id="'course-collapse'+section.sectionNumber"
								style="border: solid 1px">
								<ul
									class="nav flex-column btn-toggle-nav list-unstyled fw-normal pb-1 small"
									v-for="lecture in section.lecturesList">
									<li class="nav-item border rounded-pill"
										v-if="lecture.availableToPreview">
										<div>
											<a href="#" class="link-dark rounded "
												@click="handleVideoUrl(lecture)">

												<p>
													<span data-feather="fast-forward"></span>{{lecture.lectureNumber}}.
													{{lecture.lecturesName}}
												</p>

											</a>

											<button>附加連結</button>
										</div>
									</li>
								</ul>
							</div>
						</li>

					</ul>


				</div>
			</div>
		</div>

		<div class="testcontainer" style="border: solid 5px">

			<!-- .row -->

			<div class="row">

				<div class="offset-lg-2 col-12 col-lg-8">
					<div class="single-course-wrap">
						<div class="course-info flex flex-wrap align-items-center">
							<div class="course-author flex flex-wrap align-items-center mt-3">

								<div class="author-wrap">
									<label class="m-0">Teacher</label>
									<div class="author-name">
										<a href="#">{{course.creatorname}}</a>
									</div>
								</div>
								<!-- .author-wrap -->
							</div>
							<!-- .course-author -->

							<div class="course-cats mt-3">
								<label class="m-0">Categories</label>
								<div class="author-name">
									<a href="#">{{course.category}}</a>
								</div>
							</div>
							<!-- .course-cats -->

							<div class="course-students mt-3">
								<label class="m-0">Student</label>
								<div class="author-name">
									<a href="#">{{course.studentnum}}</a>
								</div>
							</div>
							<!-- .course-students -->

							<div class="course-students mt-3">
								<div v-if="purchasedstatus==true">
									<a class="btn"
										style="color: white; background: black; border: solid black 2px"
										href="#javascript" @click.prevent="">已購買</a>
								</div>
								<div v-else-if="shopstatus==false">
									<a class="btn" href="#" @click.prevent="addShoppingCart()">加入購物車</a>
								</div>
								<div v-else>
									<a class="btn" href="#" @click.prevent="removeShoppingCart()">從購物車移除</a>
								</div>

							</div>

							<div class="course-students mt-3">
								<div v-if="favstatus==false">
									<a class="btn" href="#" @click.prevent=addFavorite()>加入最愛</a>
								</div>
								<div v-else>
									<a class="btn" href="#" @click.prevent=removeFavorite()>從最愛移除</a>
								</div>
							</div>
							<div class="mt-3">
								<div class="course-cost">NT${{course.discountprice}}</div>
							</div>

						</div>
						<!-- .course-info -->

						<div class="single-course-cont-section">
							<h2>What Will I Learn?</h2>

							<div>{{course.description}}</div>
							</ul>
						</div>


					</div>
					<!-- .ratings -->




					<div class="instructors-info" style="border: solid 1px">
						<header class="entry-heading">
							<h1 class="entry-title">CourseRank</h1>
						</header>
						<!-- .entry-heading -->

						<div class="instructor-short-info">
							<div v-if="ranks.empty==true">目前尚無評價</div>

							<div class="rank-detail" v-for="ranker in ranks.content">
								<div class="instructors-details">
									<div class="ratings">
										<div class="course-teacher mt-3">
											<span class="rankername">{{ranker.usergivenname}}</span><br />
											<span class="fas fa-star checked"></span> <span
												v-if="ranker.rank>=2" class="fas fa-star checked"></span> <span
												v-else class="far fa-star checked"></span> <span
												v-if="ranker.rank>=3" class="fas fa-star checked"></span> <span
												v-else class="far fa-star checked"></span> <span
												v-if="ranker.rank>=4" class="fas fa-star checked"></span> <span
												v-else class="far fa-star checked"></span> <span
												v-if="ranker.rank==5" class="fas fa-star checked"></span> <span
												v-else class="far fa-star checked"></span><span
												class="course-ratings-count" style="color: black"></span> </br> <span style="line-height: 50px;">{{ranker.rankdate}}</span>
										</div>
									</div>
									<div class="rankmessage">
										<p>{{ranker.message}}</p>
									</div>
									<hr>
								</div>
							</div>
							<div
								class="pagination flex flex-wrap justify-content-between align-items-center"
								v-if="ranks.empty==false">
								<div class="col-12 col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
									<ul
										class="flex flex-wrap align-items-center order-2 order-lg-1 p-0 m-0">
										<li class="page-item" :class="{'disabled':ranks.first}"><a
											class="page-link" href="#" @click.prevent=previousPage()><i
												class="fa fa-angle-left"></i></a></li>
										<li class="page-item" :class="{'disabled':ranks.last}"><a
											class="page-link" href="#" @click.prevent="nextPage()"><i
												class="fa fa-angle-right"></i></a></li>
									</ul>
								</div>
							</div>

						</div>
						<!-- .instructor-short-info -->
					</div>
					<!-- .instructors-info -->
					<div class="related-courses">
						<header
							class="entry-heading flex flex-wrap justify-content-between align-items-center">
							<h2 class="entry-title">本課程章節</h2>
						</header>
						<!-- .entry-heading -->

						<div class="col-12 col-lg-8" style="border: solid 1px">
							<div v-for="section in course.sectionList" class="mt-3">
								<h3>第{{section.sectionNumber}}章- {{section.sectionName}}</h3>
								<div v-for="lecture in section.lecturesList">
									<li>第{{lecture.lectureNumber}}單元- {{lecture.lecturesName}}</li>
								</div>
							</div>
						</div>
					</div>
					<!-- .related-course -->
				</div>
				<!-- .single-course-wrap -->
			</div>
			<!-- .col -->
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->

	<div class="clients-logo">
		<div class="container">
			<div class="row">
				<input id="courseid" name="courseid" hidden th:value="${courseid}" />
				<input id="userid" name="userid" hidden th:value="${userid}" /> <input
					id="pageNo" name="pageNo" hidden th:value="${pageNo}" />
			</div>
			<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
			<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>

			<script src="https://unpkg.com/vue@3"></script>
			<script type="module" th:src="@{/js/product.js}"></script>
		</div>
		<!-- .container -->
	</div>
	<!-- .clients-logo -->
	</div>

</body>